<a href="https://colab.research.google.com/github/smerashanmugan/scratchpad/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
! git clone https://github.com/smerashanmugan/scratchpad

Cloning into 'scratchpad'...
remote: Enumerating objects: 30, done.
remote: Counting objects: 100% (7/7), done.
remote: Compressing objects: 100% (6/6), done.
remote: Total 30 (delta 4), reused 1 (delta 1), pack-reused 23 (from 1)
Receiving objects: 100% (30/30), 30.20 KiB | 1.01 MiB/s, done.
Resolving deltas: 100% (9/9), done.

In [8]:
%run ./scratchpad/get_data.py

Downloading course data...
Download complete
Extracting data files...
Data extracted

In [10]:
import pandas as pd
df = pd.read_csv('./data/airbnb_NYC.csv', encoding='latin1')
df.head()

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
0,5162530,NaN,1 Bedroom in Prime Williamsburg,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,1.0,1,0,145,NaN
1,33134899,NaN,"Sunny, Private room in Bushwick",Brooklyn,Apartment,NaN,Private room,11206.0,1.0,1,1,37,NaN
2,39608626,NaN,Sunny Room in Harlem,Manhattan,Apartment,NaN,Private room,10032.0,1.0,1,1,28,NaN
3,500,6/26/2008,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,NaN,Entire home/apt,10024.0,3.0,1,0,199,NaN
4,500,6/26/2008,Trendy Times Square Loft,Manhattan,Apartment,95.0,Private room,10036.0,3.0,1,39,549,96.0

In [11]:
df.shape

(30478, 13)

In [21]:
df['Review Scores Rating'].value_counts()

Review Scores Rating
100.0    5594
90.0     1729
93.0     1614
80.0     1423
95.0     1295
96.0     1188
97.0     1033
94.0      943
92.0      875
98.0      843
91.0      812
87.0      714
88.0      614
89.0      561
85.0      365
86.0      348
99.0      318
84.0      289
83.0      267
60.0      244
82.0      136
70.0      132
73.0       89
78.0       84
77.0       80
76.0       75
81.0       66
75.0       60
40.0       47
79.0       46
67.0       42
20.0       39
72.0       32
74.0       26
71.0       22
65.0       21
68.0       19
50.0       19
69.0       11
53.0        8
62.0        5
63.0        5
64.0        4
66.0        3
47.0        3
55.0        3
57.0        2
58.0        2
43.0        2
30.0        2
49.0        1
Name: count, dtype: int64